@page
@model AulasRazorTrainee.Pages.FormularioModel
@{
}

<div>
    <form method="post">
        <fieldset>
            <legend>
                Adicionar Disco
            </legend>
            <div>
                <label for="NomeDisco">Nome do Disco:</label>
                <input type="text" name="NomeDisco" value="" />
            </div>
            <div>
                <label for="NomeArtista">Nome do Artista:</label>
                <input type="text" name="NomeArtista" value="" />
            </div>
            <div>
                <label for="Faixas">Quantidade de Faixas:</label>
                <input type="text" name="Faixas" value="" />
            </div>
            <div>
                <br/>
                <label>&nbsp;</label>
                <input type="submit" value="Adicionar" class="submit" />
            </div>
        </fieldset>
    </form>
</div>
<div>
    @{
        if(HttpMethods.IsPost(Request.Method))
        {
            string nomeDisco = Request.Form["NomeDisco"];
            string nomeArtista = Request.Form["NomeArtista"];
            int nFaixas = int.Parse(Request.Form["Faixas"]);
            <fieldset>
            <legend>
               Disco Adicionado
            </legend>
                <p>Nome do Disco: @nomeDisco</p>
                <p>Nome do Artista: @nomeArtista</p>
                <p>Número de faixas: @nFaixas</p>
            </fieldset>

        }
    }
</div>